{:deps
 {net.cgrand/macrovich        {:mvn/version "0.2.1"}
  org.clojure/tools.namespace {:mvn/version "0.2.11"}
  org.openjfx/javafx-base     {:mvn/version "11.0.2"}
  org.openjfx/javafx-fxml     {:mvn/version "11.0.2"}
  org.openjfx/javafx-web      {:mvn/version "11.0.2"}}
 :paths   ["src" "classes" "target"]}
